.mp-guide {
  padding: .2rem .2rem 0;
  margin: 0 auto
}

.mp-guide img {
  display: block;
  width: 100%
}

.wrapper-top[data-v-7b7be277] {
  position: relative;
  width: 100%;
  z-index: 9
}

.wrapper-main[data-v-7b7be277] {
  position: absolute;
  z-index: 10;
  padding-bottom: 1.08rem;
  left: 0;
  right: 0;
  bottom: 0;
  top: 2.62rem;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateZ(0);
  background: #fff
}

.wrapper-main.recommend-wrapper-main[data-v-7b7be277] {
  top: 1.76rem
}

.wrapper-main .main-list-top[data-v-7b7be277] {
  text-align: center;
  font-size: .22rem;
  color: #999;
  position: relative
}

.wrapper-main .main-list-top p[data-v-7b7be277] {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 1.08rem;
  line-height: 1.08rem
}

.wrapper-main .main-list-top p img[data-v-7b7be277] {
  vertical-align: middle;
  margin: 0 .06rem
}

.wrapper-main .main-list-more[data-v-7b7be277] {
  text-align: center;
  color: #ccc;
  font-size: .24rem
}

.wrapper-main .main-list-more p[data-v-7b7be277] {
  height: 1.08rem;
  line-height: 1.08rem
}

.wrapper-main .main-list-more p.end-tip[data-v-7b7be277] {
  overflow: hidden
}

.wrapper-main .main-list-more img[data-v-7b7be277] {
  vertical-align: middle;
  margin: 0 .06rem
}

.wrapper-main .main-list-more .last-tip[data-v-7b7be277] {
  font-size: .22rem;
  color: #999
}

.single-name[data-v-7b7be277] {
  display: -ms-flexbox;
  display: flex;
  padding: 0 .18rem;
  color: #333;
  margin: .24rem 0 .14rem
}

.single-name .name-left[data-v-7b7be277] {
  -ms-flex: 1;
  flex: 1;
  font-size: .28rem;
  font-weight: 700
}

.single-name i[data-v-7b7be277] {
  font-size: .32rem;
  position: relative;
  top: .04rem
}

.search-bar[data-v-2c36d488] {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  padding: .2rem .3rem;
  background-color: #fff;
  overflow: hidden;
  z-index: 1
}

.search-bar .icon[data-v-2c36d488] {
  position: relative;
  height: .6rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.search-bar .kefu[data-v-2c36d488] {
  margin-right: .32rem
}

.search-bar .kefu .kefu-icon[data-v-2c36d488] {
  font-size: .36rem;
  color: #666
}

.search-bar .coupon[data-v-2c36d488] {
  margin-left: .32rem
}

.search-bar .coupon img[data-v-2c36d488] {
  width: .48rem;
  height: .48rem
}

.search-bar .coupon i[data-v-2c36d488] {
  position: absolute;
  display: inline-block;
  top: -.02rem;
  right: -.02rem;
  width: .16rem;
  height: .16rem;
  border-radius: .08rem;
  background: #ff4e4e
}

.search-bar .coupon.rotate[data-v-2c36d488] {
  animation: yao-data-v-2c36d488 2s infinite
}

@keyframes yao-data-v-2c36d488 {
  0% {
      transform: rotate(-5deg)
  }

  3% {
      transform: rotate(5deg)
  }

  6% {
      transform: rotate(-5deg)
  }

  9% {
      transform: rotate(5deg)
  }

  12% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(0deg)
  }
}

.search-bar .search-input-wrap[data-v-2c36d488] {
  -ms-flex: 1;
  flex: 1;
  height: .6rem;
  line-height: .6rem;
  font-size: .28rem;
  text-align: left;
  padding-left: .2rem;
  color: #999;
  background: #f6f6f6;
  border-radius: .3rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden
}

.search-bar .search-input-wrap>i[data-v-2c36d488] {
  margin-right: .12rem;
  font-size: .28rem;
  color: #888;
  display: inline-block
}

.prompt-text[data-v-2c36d488] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.page[data-v-12261424] {
  background: #fff!important
}

.list-empty-wrapper[data-v-12261424] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 2.28rem
}
